:root {
  --font-color: #ffffff;
  --background-color: #000000;
  --background2: #353845;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  color: var(--font-color);
  font-family: "Varela Round", serif;
}
body {
  background-color: var(--background-color);
}

body::-webkit-scrollbar {
  display: none;
}

li::marker {
  color: var(--font-color);
}

.header h1 {
  padding: 10px 10px;
  background-color: var(--background2);
  display: inline-block;
  border-radius: 6px;
}

.header a{
  display: block;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.welcome-container {
  background-color: var(--background2);
  font-size: 30px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 50px;
}

.cursor {
  display: inline-block;
  animation: blink 1s ease infinite;
  margin-left: 5px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bye-anim {
  animation: bye-bye 0.7s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bye-bye {
  to {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}

.welcome-text {
  padding-left: 50px;
  padding-right: 50px;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
